<div
  [id]="'gameSliderContainer' + componentId"
  [ngClass]="{ centeredContent: !pagination }"
  class="gameSliderContainer"
>
  <!-- LEFT ARROW -->
  <div
    class="iconWrapper"
    (click)="sideScroll($event, 'left')"
    *ngIf="pagination ? !isMobile && games?.length > 5 : !isMobile && games?.length > 3"
  >
    <div class="arrow left-arrow"></div>
  </div>
  <!-- GAME CONTAINER -->
  <div
    [ngClass]="{
      leftAligned: !isMobile && games.length <= 5 && location === 'CASINO_CAROUSEL',
      centered: location === 'MESSAGES_POPUP' && games?.length <= 3
    }"
    class="gamesContainer"
    [id]="componentId"
  >
    <div
      *ngFor="let game of games"
      (click)="navigateToGameInfo($event, game)"
      [ngClass]="{ alignContent: location === 'MESSAGES_POPUP' && games?.length <= 3 }"
      class="gameImgWrapperSlider"
    >
      <img
        [ngClass]="{ biggerImg: pagination }"
        src="{{ environment.imagesBaseUrl + game.gameIcon.location }}"
        alt=""
      />

      <!-- LIKE ICON -->
      <div class="icon likeIcon" *ngIf="game.favorite"></div>

      <!-- NEW LABEL ICON -->
      <div class="icon newLabelIcon" *ngIf="game.newGame"></div>

      <span class="bottomIconsContainer">
        <div class="icon hotIcon" [ngStyle]="{'background-image': backgroundHotIcon}" *ngIf="game.popular"></div>

        <!-- TOURNAMENT AND JACKPOT BUTTON -->
        <span class="bottomIconsContainer">
          <div class="icon tournamentIcon" [ngStyle]="{'background-image': backgroundTourn}" *ngIf="game.tournament"></div>
          <div class="icon jackpotIcon" [ngStyle]="{'background-image': backgroundJackpot}" *ngIf="game.jackpot"></div>
        </span>
      </span>
    </div>
  </div>
  <div *ngIf="games.length > 5 && !isMobile && pagination" class="paginationContainerSlider">
    <div
      [id]="'pagination-dot-' + componentId + i"
      *ngFor="let paginationDot of paginationDots; let i = index"
      class="paginationDot"
    ></div>
  </div>
  <!-- RIGHT ARROW -->
  <div
    [ngClass]="{ distanced: pagination }"
    class="iconWrapper"
    (click)="sideScroll($event, 'right')"
    *ngIf="pagination ? !isMobile && games?.length > 5 : !isMobile && games?.length > 3"
  >
    <div class="arrow right-arrow"></div>
  </div>
</div>
