.gameSliderContainer {
  display: flex;
  align-items: center;
  &.centeredContent {
    place-content: center;
  }
  .paginationContainerSlider {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    place-content: center;
    padding-top: 5px;
    bottom: -10px;
    .paginationDot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid white;
      margin-right: 3px;
    }
  }
  .gamesContainer {
    display: flex;
    overflow: auto;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    min-width: 100%;
    overflow-y: hidden;
    &.centered {
      place-content: center;
    }
    &.leftAligned {
      padding-left: 40px;
    }
    .gameImgWrapperSlider {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: black;
      border-radius: 15px;
      margin-right: 10px;
      &.alignContent {
        margin: 0 5px;
      }
      img {
        box-shadow: 0 0 7px 0 rgb(255, 255, 255);
        border-radius: 15px;
        cursor: pointer;
      }
      .buttonContainer {
        position: absolute;
        color: white;
        height: 100%;
        max-height: 90px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        opacity: 0;
        cursor: pointer;
        width: 70%;
        .playButton {
          position: relative;
          display: flex;
          cursor: pointer;
          border-radius: 6px;
          border: solid 1px #5e9cff;
          box-shadow: 0 0 0 0 #244d91, inset 0 10px 10px 0 rgba(255, 255, 255, 0.28);
          background-image: linear-gradient(#4188fe, #3674d8);
          background-image: -webkit-linear-gradient(#4188fe, #3674d8);
          mat-icon {
            line-height: 24px;
            font-size: 22px;
            position: absolute;
          }
          .buttonLabel {
            width: 100%;
            line-height: 24px;
            font-size: 13px;
          }
        }
        .demoButton {
          cursor: pointer;
          border-radius: 6px;
          border: solid 1px #b4b4b4;
          box-shadow: 0 0px 0 0 grey, inset 0 10px 10px 0 rgba(255, 255, 255, 0.28);
          background-image: linear-gradient(#b5b8b3, #b4b4b4);
          background-image: -webkit-linear-gradient(#b5b8b3, #b4b4b4);
          .buttonLabel {
            line-height: 21px;
            font-size: 11px;
          }
        }
        .jackpotContainer {
          //background-image: url('/assets/icons/cro/lenta-JP.png');
          border-radius: 6px;
          width: 110%;
          cursor: pointer;
          // idi na game info kada se klikne i sa strane i na jackpot
          .jackpotTag {
            position: absolute;
            left: -17px;
            top: 0;
            height: 30px;
            width: 30px;
          }
        }
      }
      .infoIcon {
        position: absolute;
        bottom: 5px;
        font-size: 13px;
        width: 14px;
        height: 14px;
        color: #dfdfdf;
        border: 1px solid white;
        border-radius: 9px;
        right: 5px;
        display: none;
      }
      .icon {
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        pointer-events: none;
      }
      .newLabelIcon {
        top: -4px;
        left: -4px;
        width: 40px;
        height: 40px;
        //background-image: url('/assets/icons/cro/novo.png');
      }
      .hotIcon {
        top: -10px;
        right: 0;
        width: 28px;
        height: 28px;
        //background-image: url('/assets/icons/cro/hot.png');
      }
      .likeIcon {
        bottom: 5px;
        left: 5px;
        width: 14px;
        height: 14px;
        //background-image: url('/assets/images/heart-active.svg');
      }
      .tournamentIcon {
        bottom: -9px;
        width: 24px;
        height: 24px;
        //background-image: url('/assets/icons/cro/turnir2.png');
      }
      .jackpotIcon {
        bottom: -11px;
        width: 28px;
        height: 28px;
        //background-image: url('/assets/icons/cro/jackpot.png');
      }
      .bottomIconsContainer {
        :first-child {
          right: 1px;
          z-index: 3;
        }
        :nth-child(2) {
          right: 19px;
          z-index: 2;
        }
      }
    }
  }
  .iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 34px;
    min-width: 34px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    &.distanced {
      margin-left: 10px;
    }
    cursor: pointer;
    .arrow {
      border: solid white;
      height: 10px;
      width: 10px;
    }
    .right-arrow {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      border-width: 0 2px 2px 0;
      margin-right: 5px;
    }
    .left-arrow {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      border-width: 0 2px 2px 0;
      margin-left: 5px;
    }
  }
}

// HIDE SCROLLBAR FOR GAME CONTAINER
.gamesContainer {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.gamesContainer::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

$XL_DevicesLargeImgSize: 170px;
$LG_DevicesLargeImgSize: 130px;
$SM_DevicesLargeImgSize: 110px;
$gamePercentage: 0.6; // 60%

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  img {
    height: calc(#{$XL_DevicesLargeImgSize} * #{$gamePercentage});
    width: calc(#{$XL_DevicesLargeImgSize} * #{$gamePercentage});
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  img {
    height: calc(#{$LG_DevicesLargeImgSize} * #{$gamePercentage});
    width: calc(#{$LG_DevicesLargeImgSize} * #{$gamePercentage});
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  img {
    height: calc(#{$SM_DevicesLargeImgSize} * #{$gamePercentage});
    width: calc(#{$SM_DevicesLargeImgSize} * #{$gamePercentage});
    &.biggerImg {
      height: calc(#{$LG_DevicesLargeImgSize} * #{$gamePercentage});
      width: calc(#{$LG_DevicesLargeImgSize} * #{$gamePercentage});
    }
  }
}
