<!-- CAROUSEL -->
<div class="casinoSection">
  <div
    [ngClass]="{ absolute: !isMobile }"
    class="sectionHeader"
    [id]="'sectionHeader' + rawData.id"
  >
    <div class="u_float-left">
      <svg class="svg-header-logo" viewBox="0 0 119 30">
        <defs><style>.a{fill:#fff;fill-opacity:0;}</style></defs><rect class="a" width="83" height="30"/>
        <path d="M12.91,25V20.26H7L12.4,10V6H.82v4.71H6L.48,21v4Zm5.54.45a6,6,0,0,0,4.1-1.69L22.86,25h4.4V14.78c0-3.22-1.24-4.89-5.87-4.89a17.26,17.26,0,0,0-6.75,1.53l1,3.36a17.54,17.54,0,0,1,4.83-.91c1.16,0,1.52.51,1.52,1.44v.34h-.76c-4.72,0-7.14,1.92-7.14,4.78C14.08,23.5,15.94,25.45,18.45,25.45Zm1.84-4.06a1,1,0,0,1-1-1.11c0-.62.39-1.1,1.92-1.1H22V20.4A2.63,2.63,0,0,1,20.29,21.39ZM34.84,9.07V4.72H29.56V9.07Zm0,15.93V10.34H29.56V25Zm8.68,5c2.46,0,6.27-.51,6.27-6.16V10.34H45.44l-.31,1.19c-1.27-1.13-2.06-1.64-3.33-1.64-2.68,0-5.08,2.4-5.08,7.82,0,5.23,2,7.37,4.63,7.37a5.11,5.11,0,0,0,3.25-1.32v.84c0,1.11-.26,1.67-2,1.67H38.44l.76,3.45A23.91,23.91,0,0,0,43.52,30Zm-.28-9.63c-.76,0-1.13-.62-1.13-2.74,0-2.29.43-2.91,1.22-2.91a1.85,1.85,0,0,1,1.21.62v4.35A2.2,2.2,0,0,1,43.24,20.37ZM57.4,25V16.19a3.49,3.49,0,0,1,2.15-.68h1.1V9.89H60c-1.21,0-1.81.45-3.28,2l-.42-1.56H52.12V25Zm8.32.45a6,6,0,0,0,4.09-1.69L70.12,25h4.41V14.78c0-3.22-1.25-4.89-5.88-4.89a17.26,17.26,0,0,0-6.75,1.53l1,3.36a17.6,17.6,0,0,1,4.83-.91c1.16,0,1.53.51,1.53,1.44v.34h-.77c-4.71,0-7.14,1.92-7.14,4.78C61.34,23.5,63.2,25.45,65.72,25.45Zm1.83-4.06a1,1,0,0,1-1-1.11c0-.62.4-1.1,1.92-1.1h.74V20.4A2.65,2.65,0,0,1,67.55,21.39ZM82.11,9.07V4.72H76.83V9.07ZM78.07,30c3-1.92,4-3.76,4-6.81V10.34H76.83V23.56c0,1.3-.29,2.17-1.84,3.61Z"/>
      </svg>
    </div>
    <div *ngIf="!isMobile" class="sectionHeaderNav u_float-right">
      <div *ngIf="imagesArray.length > 1" class="arrow_header" (click)="onSwipeLeft()">
        <div class="arrowHeader left-arrow_header"></div>
      </div>
      <div *ngIf="imagesArray.length > 1" class="arrow_header" (click)="onSwipeRight()">
        <div class="arrowHeader right-arrow_header"></div>
      </div>
    </div>
    <div class="u_clearfix"></div>
  </div>
  <!-- SLIDE NAVIGATION TABS  -->
  <div
    #slidesContainer
    *ngIf="isMobile && imagesArray.length > 1"
    class="casinoSlidesNavigationContainer ng-star-inserted"
    id="casinoSlidesNavigationContainer"
  >
    <div
      class="navigationItem"
      *ngFor="let slideTab of imagesArray; let i = index"
      [ngClass]="{ activeSlide: currentSlideIndex === i }"
      (click)="tabNavigateToSlide(i)"
    >
      <div *ngIf="slideTab?.slideNavigationTitle" class="itemContent">
        {{ slideTab?.slideNavigationTitle }}
      </div>
    </div>
  </div>

  <div
    [ngClass]="{ typeGames: currentSlide?.games, 'u_padding-50px': !isMobile }"
    [id]="'carouselContainer_' + rawData.id"
    class="carouselContainer"

  >
<!--    <div *ngIf="rawData.visible" class="slideshow" (click)="handleImgLink()">-->
    <div class="slideshow" (click)="handleImgLink()">
      <app-slideshow
        [autoPlay]="enableAutoplay"
        [disableSwiping]="true"
        #slideshow
        [backgroundSize]="'100% 100%'"
        [showArrows]="false"
        [buttonPosition]="'right'"
        [showCaptions]="false"
        [imageUrls]="imagesArray"
        (onIndexChanged)="slideChange($event)"
        [isButtonAllowed]="!isMobile"
      ></app-slideshow>
    </div>
  </div>
</div>
