:host ::ng-deep .u_float-right {
  float: right;
}
:host ::ng-deep .u_float-left {
  float: left;
}
:host ::ng-deep .u_clearfix {
  &:after,
  &:before {
    content: "";
    display: table;
    height: 0;
    overflow: hidden;
  }

  &:after { clear: both; }
}
:host ::ng-deep .u_padding-50px {
  padding-top: 50px;
}

.svg-header-logo {
  width: 119px;
  height: 21px;
}
@media(max-width: 1044px) {
  .svg-header-logo {
    margin: 0 0 0 -16px;
  }
}


$imageAspectRatio: 0.3;
:host ::ng-deep .carouselContainer {
  position: relative;
  overflow: hidden;
  //height: 275px;
  padding-top: 40px;
  height: calc(#{$imageAspectRatio} * 100vw);
  min-height: 280px;
  //max-height: 388px;
  //&.typeGames {
  //  height: 348px;
  //}
  //.slideshow {
  //  height: 100%;
  //}

  .buttonsContainer {
    position: absolute;
    right: 40px;
    bottom: 15px;
    a {
      margin-left: 10px;
      font-size: 14px;
      padding: 9px 15px;
      border-radius: 10px;
    }
    :nth-child(2) {
      box-shadow: 0 3px 0 0 #244d91, inset 0 10px 10px 0 rgba(255, 255, 255, 0.28) !important;
      background-image: linear-gradient(#4188fe, #3674d8) !important;
      background-image: -webkit-linear-gradient(#4188fe, #3674d8) !important;
      border: solid 1px #5e9cff !important;
    }
  }
}
:host ::ng-deep .casinoSlidesNavigationContainer {
  position: absolute;
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  width: 100%;
  z-index: 1;
}
:host ::ng-deep .navigationItem {
  font: 400 15px Roboto,Sans-Serif;
  word-spacing: 1px;
  letter-spacing: 1px;
  text-transform: uppercase;
  //margin: 2px;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  .itemContent {
    width: max-content;
    font-size: 15px;
    font-weight: 300;
  }
}
:host ::ng-deep .activeSlide {
  color: white;
  background: #191e44;
  border-radius: 5px;
}
:host ::ng-deep .sectionHeader {
  position: relative;
  width: calc(100% - 50px);
  z-index: 1;
  //display: flex;
  justify-content: space-between;
  align-items: center;
  //margin-bottom: 10px;

  &.absolute {
    position: absolute;
  }
}
:host ::ng-deep .sectionTitle {
  font-weight: bold;
  font-family: Roboto,Sans-Serif;
  color: #191e44;
  letter-spacing: normal;
  margin-top: 2px;
  margin-bottom: 0;
  font-size: 23px;
}
:host ::ng-deep .sectionHeaderNav {
  margin-top: 5px;
  align-items: center;
  display: flex;

  .sectionHeaderButton {
    border: 1px solid white;
    line-height: 24px;
    border-radius: 8px;
    padding: 0 6px;

    a {
      color: white;
    }
  }
}
:host ::ng-deep .arrow_header {
  background-color: lightgray;
  border: 1px solid lightgray;
  border-radius: 8px;
  height: 24px;
  width: 24px;
  margin-left: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    height: 10px;
    width: 10px;
  }
}
:host ::ng-deep  .right-arrow_header {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border: solid gray;
  border-width: 0 2px 2px 0;
  margin-right: 5px;
}
:host ::ng-deep .left-arrow_header {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  border: solid gray;
  border-width: 0 2px 2px 0;
  margin-left: 5px;
}

:host ::ng-deep .casinoSection {
  position: relative;
  //margin-top: 30px;
  :host ::ng-deep .sectionHeader {
    position: relative;
    width: calc(100% - 50px);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    &.absolute {
      position: absolute;
    }
    .sectionTitle {
      margin-bottom: 0;
      font-size: 23px;
    }
    :host ::ng-deep .sectionHeaderNav {
      align-items: center;
      display: flex;
      .sectionHeaderButton {
        border: 1px solid white;
        line-height: 24px;
        border-radius: 8px;
        padding: 0 6px;
        a {
          color: white;
        }
      }
      :host ::ng-deep .arrow {
        background-color: lightgray;
        border: 1px solid lightgray;
        border-radius: 8px;
        height: 24px;
        width: 24px;
        margin-left: 4px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        div {
          height: 10px;
          width: 10px;
        }
      }
      :host ::ng-deep .right-arrow {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        border: white;
        border-width: 0 2px 2px 0;
        margin-right: 5px;
      }
      :host ::ng-deep .left-arrow {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        border: white;
        border-width: 0 2px 2px 0;
        margin-left: 5px;
      }
    }
  }
}

:host ::ng-deep .slideshow {
  height: 100%;
  //height: 348px;
}
// Extra large devices (large desktops, 1200px and up)
//@media (min-width: 1200px) {
//  .sectionHeader {
//    margin: 0 27px;
//  }
//}
//
//// Large devices (desktops, less than 1200px)
//@media (max-width: 1199.98px) {
//  .sectionHeader {
//    margin: 0 22px;
//  }
//}
//
//// Medium devices (tablets, less than 992px)
//@media (max-width: 991.98px) {
//}
//
//// Small devices (landscape phones, less than 768px)
//@media (max-width: 767.98px) {
//  .sectionHeader {
//    margin: 15px 17px;
//  }
//}
//
//// Extra small devices (portrait phones, less than 576px)
//@media (max-width: 575.98px) {
//  .sectionHeader {
//    margin: 15px 7px;
//  }
//}

//// carousel media
//@media only screen and(max-width:1300px) {
//  .carouselContainer {
//    height: calc(2.2 * 21vw) !important;
//  }
//}
//
//@media only screen and(max-width:1173px) {
//  .sectionTitle {
//    color: var(--textThemeColor);
//  }
//}
//
//// carousel media
//@media only screen and (max-width: 640px) {
//  .carouselContainer {
//    height: calc(2.2 * 36vw) !important;
//  }
//}

//// HIDE SCROLLBAR FOR SLIDE NAVIGATION TABS
//#casinoSlidesNavigationContainer {
//  -ms-overflow-style: none; /* Internet Explorer 10+ */
//  scrollbar-width: none; /* Firefox */
//}

#casinoSlidesNavigationContainer::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}






