/*
 styles adapted from https://www.w3schools.com/w3css/4/w3.css
 arrow styles adapted from https://codepen.io/minustalent/pen/Frhaw
 */

$border-color: darken(#fff, 5%);

.display-none {
  display: none !important;
}

.fs-container {
  display: block;
  cursor: pointer;
  position: fixed;
  z-index: 1;
  top: 16px;
  left: 16px;
  width: 46px;
  height: 46px;
  text-align: center;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: rgba(0, 0, 0, 0.33);
  }

  .arrow-exitfs {
    display: block;
    width: 30px;
    height: 30px;
    background: transparent;
    border: {
      top: 2px solid $border-color;
    }
    transition: all 0.2s ease-in-out;

    &.prev {
      transform: rotate(-45deg);
      position: relative;
      left: 18px;
      top: 18px;
    }

    &:after {
      content: '';
      width: 30px;
      height: 30px;
      background: transparent;
      border: {
        top: 2px solid $border-color;
      }
      transform: rotate(90deg);
      position: absolute;
      left: -15px;
      top: -17px;
    }
  }
}

.slideshow-container.slideshow-container-fs {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.slideshow-container {
  position: relative;
  display: block;
  margin: auto;
  height: 100%;
  width: 100%;
  .hide-slide {
    visibility: hidden;
    position: absolute;
    top: -100vw;
    // transform: translate3d(-100vw, 0, 0);
    left: -100vw;
    opacity: 0;
  }

  .slides {
    touch-action: pan-y; // only allow browser vertical scroll
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    visibility: visible;
    opacity: 1;
    display: block;

    &.selected {
      // transform: translate3d(0, 0, 0);
      left: 0;
    }

    &.left-slide {
      // transform: translate3d(-100%, 0, 0);
      left: -100%;
    }

    &.right-slide {
      // transform: translate3d(100%, 0, 0);
      left: 100%;
    }

    &.slide-in-left {
      // transform: translate3d(0, 0, 0);
      left: 0;
      animation: slideInLeft 0.5s cubic-bezier(0.42, 0, 0.58, 1);
    }

    &.slide-in-right {
      // transform: translate3d(0, 0, 0);
      left: 0;
      animation: slideInRight 0.5s cubic-bezier(0.42, 0, 0.58, 1);
    }

    &.slide-out-left {
      // transform: translate3d(-100%, 0, 0);
      left: -100%;
      animation: slideOutLeft 0.5s cubic-bezier(0.42, 0, 0.58, 1);
    }

    &.slide-out-right {
      // transform: translate3d(100%, 0, 0);
      left: 100%;
      animation: slideOutRight 0.5s cubic-bezier(0.42, 0, 0.58, 1);
    }

    &.link {
      cursor: pointer;
    }

    &:not(.link) {
      cursor: default;
    }
  }

  .carouselGamesContainer {
    position: absolute;
    left: 10px;
    bottom: 20px;
    z-index: 1;
    &.mobile {
      left: 0;
      max-width: 100%;
      bottom: 5px;
    }
  }
  .caption-container {
    position: absolute;
    bottom: 35%;
    width: 20%;
    left: 5%;
    .caption {
      font-size: 32px;
      font-weight: bold;
      max-width: 40ch;
      max-height: 40%;
      overflow-y: hidden;
      width: 100%;
      text-shadow: 4px 4px 3px #000000;
    }
    .caption-description {
      font-size: 20px;
      max-width: 55ch;
      text-shadow: 4px 4px 3px #000000;
      font-weight: 400;
    }
  }
  .arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    height: 100%;
    width: auto;
    cursor: pointer;
    background-size: 100%;
    background-image: linear-gradient(transparent, transparent);
    z-index: 100;
    user-select: none;

    &:before {
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      z-index: -100;
      transition: opacity 0.45s;
    }

    &.prev {
      left: 0;

      &:before {
        background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.75));
        content: '';
      }
    }

    &.next {
      right: 0;

      &:before {
        background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75));
        content: '';
      }
    }

    :host ::ng-deep .arrow {
      display: block;
      margin: auto;
      width: 30px;
      height: 30px;
      background: transparent;
      border: {
        top: 2px solid $border-color;
        left: 2px solid $border-color;
      }
      transition: all 0.2s ease-in-out;
      user-select: none;

      &:before {
        display: block;
        height: 200%;
        width: 200%;
        margin: {
          left: -50%;
          top: -50%;
        }
        content: '';
        transform: rotate(45deg);
      }

      &.prev {
        transform: rotate(-45deg);
        position: relative;
        left: 20px;
        margin-right: 10px;
      }

      &.next {
        transform: rotate(135deg);
        position: relative;
        right: 20px;
        margin-left: 10px;
      }
    }
  }

  .slick-dots {
    display: block;
    bottom: 15px;
    z-index: 1;
    text-align: center;
    position: absolute;
    padding: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    & li {
      display: inline;
      margin: 0;
      padding: 0;

      & button {
        border: none;
        background: none;
        text-indent: -9999px;
        font-size: 0;
        width: 20px;
        height: 20px;
        outline: none;
        position: relative;
        z-index: 1;
        cursor: pointer;

        &:before {
          content: '';
          width: 4px;
          height: 4px;
          background: var(--dot-color, #fff);
          border-radius: 4px;
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0.7;
          transition: all 0.5s ease-out;
        }
      }

      &.slick-active {
        & button:before {
          transform: translate(-50%, -50%) scale(1.4);
          opacity: 1;
        }
      }
    }
  }
  .min-promo-container {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    z-index: 1;
    width: 60%;

    .button-type-bonus,
    .button-type-redirect,
    .accepted-promo-button,
    .join-us-button {
      width: 100%;
      height: 50px;
      text-transform: uppercase;
    }

    .accepted-promo-button {
      cursor: not-allowed;
    }

    .type-games-container {
      .casino-games-container-min {
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
        // padding: 5px 0px 5px 10px;
        &.mobile {
          min-width: 220px;
        }
        & > div {
          width: 100%;
          margin: 0 auto;
          transition: all 0.4s ease-in;
          transform: translateX(0);
          &.scroll-y {
            overflow-y: scroll;
          }
        }
        & .min-promo-1 {
          width: 33%;
        }
        & .min-promo-2 {
          width: 66%;
        }
        .casino-game-container {
          width: 100%;
        }

        .game-image {
          width: 100%;
          border-radius: 20px;
          box-sizing: border-box;
          margin-bottom: 0;
          &:last-of-type {
            margin-right: 10px;
          }
        }
      }
      .pagination-container {
        height: 20px;
        & > div {
          margin: 0 auto;
        }
        .pagination-dot {
          display: inline-block;
          margin: 2px;
          background: white;
          width: 10px;
          height: 10px;
          box-sizing: border-box;
          border: 1px solid grey;
          &:hover {
            background-color: #cccccc !important;
          }
        }
      }

      .game-caption-container {
        overflow: hidden;
        white-space: nowrap;
        font-weight: 600;
        text-overflow: ellipsis;
        color: black;
        font-size: 10px;
      }
    }
  }

  .button-container {
    position: absolute;
    z-index: 1;
    bottom: 8%;
    &.left {
      left: 5%;
    }
    &.right {
      right: 5%;
    }
    button {
      border-radius: 10px;
      cursor: pointer !important;
      position: relative;
      display: inline-block;
      text-align: center;
      padding: 9px 20px;
      font-size: 17px;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      // border-radius: 2px;
      box-shadow: 0 3px 0 0 #2d849e, inset 0 2px 1px 0 rgba(255, 255, 255, 0.17);
      background-image: linear-gradient(to bottom, var(--quinary-color), #31a1ba);
      background-image: -webkit-linear-gradient(bottom, var(--quinary-color), #31a1ba);
      border: solid 1px #50c7ea;
      &.orange {
        box-shadow: 0 3px 0 0 #a17002, inset 0 2px 1px 0 rgba(255, 255, 255, 0.16);
        background-image: linear-gradient(to bottom, #ffb527, #ff7e11);
        background-image: -webkit-linear-gradient(#ffb527, #ff7e11);
        border: solid 1px #ff7e11;
      }
      &.green {
        box-shadow: 0 3px 0 0 #327f15, inset 0 10px 10px 0 rgba(255, 255, 255, 0.28);
        background-image: linear-gradient(#4fbf24, #45a620);
        background-image: -webkit-linear-gradient(#4fbf24, #45a620);
        border: solid 1px #4fc920;
      }
      &.blue {
        box-shadow: 0 3px 0 0 #244d91, inset 0 10px 10px 0 rgba(255, 255, 255, 0.28);
        background-image: linear-gradient(#4188fe, #3674d8);
        background-image: -webkit-linear-gradient(#4188fe, #3674d8);
        border: solid 1px #5e9cff;
      }
      &.grey {
        box-shadow: 0 3px 0 0 grey, inset 0 10px 10px 0 rgba(255, 255, 255, 0.28);
        background-image: linear-gradient(#b5b8b3, #b4b4b4);
        background-image: -webkit-linear-gradient(#b5b8b3, #b4b4b4);
        border: solid 1px #b4b4b4;
      }
      &.red {
        box-shadow: 0 3px 0 0 #7f1515, inset 0 10px 10px 0 rgba(255, 255, 255, 0.28);
        background-image: linear-gradient(#bf2424, #a62020);
        background-image: -webkit-linear-gradient(#bf2424, #a62020);
        border: solid 1px #c92020;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .slideshow-container {
    .arrow-container {
      &:hover {
        &:before {
          opacity: 1;
        }
        .arrow {
          border: {
            width: 4px;
          }
        }
      }
      .arrow {
        &:hover {
          border: {
            width: 4px;
          }
        }
      }
    }
  }
}

@keyframes slideInRight {
  0% {
    // transform: translate3d(-100%, 0, 0);
    left: -100%;
  }

  100% {
    // transform: translate3d(0, 0, 0);
    left: 0;
  }
}

@keyframes slideInLeft {
  0% {
    // transform: translate3d(100%, 0, 0);
    left: 100%;
  }

  100% {
    // transform: translate3d(0, 0, 0);
    left: 0;
  }
}

@keyframes slideOutRight {
  0% {
    // transform: translate3d(0, 0, 0);
    left: 0;
  }

  100% {
    // transform: translate3d(-100%, 0, 0);
    left: -100%;
  }
}

@keyframes slideOutLeft {
  0% {
    // transform: translate3d(0, 0, 0);
    left: 0;
  }

  100% {
    // transform: translate3d(100%, 0, 0);
    left: 100%;
  }
}

.loader {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and(max-width:1390px) {
  .slideshow-container {
    .caption-container {
      .caption {
        font-size: 2.2vw;
      }
      .caption-description {
        font-size: 1.3vw;
      }
    }
  }

  .slideshow-container {
    .button-container {
      button {
        font-size: 13px;
      }
    }
  }
}

@media only screen and(max-width:950px) {
  .slideshow-container {
    .caption-container {
      bottom: 45%;
      .caption-description {
        font-size: 1.5vw;
      }
    }
  }
}

@media only screen and(max-width:750px) {
  .slideshow-container {
    .caption-container {
      width: 30%;
      .caption {
        font-size: 2.5vw;
      }
      .caption-description {
        font-size: 1.8vw;
      }
    }
  }

  .slideshow-container {
    .button-container {
      button {
        padding: 9px 15px;
        font-size: 12px;
      }
    }
  }
}

@media only screen and(max-width:600px) {
  .slideshow-container {
    .caption-container {
      width: 40%;
      bottom: 50%;
      .caption {
        font-size: 3.5vw;
      }
      .caption-description {
        font-size: 2.5vw;
      }
    }
    .button-container {
      button {
        font-size: 10px;
      }
    }
  }
}

@media only screen and(max-width:450px) {
  .slideshow-container {
    .caption-container {
      bottom: 45%;
      width: 45%;
      .caption {
        font-size: 4vw;
      }
      .caption-description {
        font-size: 3vw;
      }
    }
    .button-container {
      button {
        padding: 9px 12px;
      }
    }
  }
}

.overlayImgContainer {
  pointer-events: none;
  height: calc(100% + 40px);
  position: absolute;
  right: 0;
  top: -40px;
  img {
    height: 100%;
    max-width: 100%;
  }
}
