<!-- FULLSCREEN BAR -->
<div [class.display-none]="!fullscreen" class="fs-container" (click)="exitFullScreen($event)">
  <i title="Back" class="arrow-exitfs prev"></i>
</div>
<div #container class="slideshow-container" [class.slideshow-container-fs]="fullscreen">
  <!-- SLIDES -->
  <a
    *ngFor="let slide of slides; index as i; trackBy: trackByFn"
    class="slides"
    tabindex="-1"
    title="{{ slide?.image?.title }}"
    [ngStyle]="getSlideStyle(i)"
    (click)="handleClick($event, slide)"
    [class.selected]="slide?.selected"
    [class.hide-slide]="!slide?.selected && !slide?.leftSide && !slide?.rightSide"
    [class.left-side]="slide?.leftSide"
    [class.right-side]="slide?.rightSide"
    [class.slide-in-left]="slide?.action === 'slideInLeft'"
    [class.slide-in-right]="slide?.action === 'slideInRight'"
    [class.slide-out-left]="slide?.action === 'slideOutLeft'"
    [class.slide-out-right]="slide?.action === 'slideOutRight'"
    [class.link]="slide?.image?.clickAction || slide?.image?.href"
  >
    <div class="loader" *ngIf="!slide?.loaded"></div>
    <!-- CAROUSEL GAME SLIDER -->
    <div
      class="carouselGamesContainer"
      *ngIf="slide.image.games && !minPromo"
      [ngClass]="{ mobile: isMobile }"
    >
      <app-game-slider
        [location]="'CASINO_CAROUSEL'"
        [pagination]="true"
        [games]="slide.image.games"
      ></app-game-slider>
    </div>
    <!-- CAPTION CONTAINER -->
    <div *ngIf="showCaptions" class="caption-container">
      <!-- CAPTION -->
      <div
        *ngIf="slide?.image?.caption"
        class="caption"
        [ngStyle]="{ color: captionColor }"
        [innerHTML]="slide?.image?.caption"
      ></div>
      <!-- CAPTION DESCRIPTION -->
      <div
        *ngIf="slide?.image?.captionDescription"
        class="caption-description"
        [ngStyle]="{
          color: captionColor
        }"
        [innerHTML]="slide?.image?.captionDescription"
      ></div>
    </div>
    <!-- BUTTON CONTAINER -->
<!--    <div-->
<!--      [ngClass]="{ right: buttonPosition === 'right', left: buttonPosition === 'left' }"-->
<!--      *ngIf="slide.image.buttonLink && isButtonAllowed && !minPromo"-->
<!--      class="button-container"-->
<!--    >-->
<!--      <button-->
<!--        (click)="navigateByUrl($event, slide.image.buttonLink)"-->
<!--        [class]="slide.image.buttonColor || 'green'"-->
<!--      >-->
<!--        {{ slide.image.buttonText }}-->
<!--      </button>-->
<!--    </div>-->

    <!-- MIN PROMO CONTAINER -->
    <div *ngIf="minPromo" class="min-promo-container">
      <!-- TYPE BONUS -->
      <button
        (click)="acceptBonus($event, slide.image.promotion)"
        [ngClass]="{
          'accepted-promo-button': slide.image.promotion.accepted,
          'button-type-bonus': !slide.image.promotion.accepted
        }"
        [disabled]="slide.image.promotion.accepted"
        *ngIf=" slide.image.promotion "
        class="flatButton blue"
      >
        {{
          slide.image.promotion.accepted
            ? ('BONUS_ITEM.PROMOTION_ACCEPTED')
            : slide.image.promotion.buttonLabel
        }}
      </button>

      <!-- TYPE REDIRECT -->
      <button
        (click)="acceptBonus($event, slide.image.promotion)"
        *ngIf="slide.image.promotion?.buttonLabel"
        class="flatButton blue button-type-redirect"
      >
        {{ slide.image.promotion?.buttonLabel }}
      </button>

      <!-- TYPE GAMES -->
      <div *ngIf="slide.image.promotion.type === 'GAMES'" class="type-games-container">
        <div fxLayout="row" class="casino-games-container-min" [ngClass]="{ mobile: isMobile }">
          <div
            [ngClass]="{
              'scroll-y': isMobile && slide.image.promotion.games.length > 3,
              'min-promo-1': slide.image.promotion.games.length === 1,
              'min-promo-2': slide.image.promotion.games.length === 2
            }"
            id="{{ 'slider-container-left-menu-' + slide.image.promotion.id.toString() }}"
            fxLayoutGap="10px"
          >
<!--            <div-->
<!--              *ngFor="let game of slide.image.promotion.games"-->
<!--              fxFlex="calc({{ minPromoGameImageWidth }} - 10px)"-->
<!--              class="casino-game-container"-->
<!--            >            -->
            <div
              *ngFor="let game of slide.image.promotion.games"
              class="casino-game-container"
            >
              <img
                [id]="game.id.toString() + slide.image.promotion.id.toString()"
                [ngStyle]="{ backgroundColor: game?.backgroundColor }"
                (click)="openGameInfo($event, game)"
                [src]="environment.baseServerUrl + game?.gameIcon.location"
                class="game-image pointer"
              />
              <div class="game-caption-container">
                <span>{{ game.name }}</span>
              </div>
            </div>
          </div>
        </div>
        <div
          (click)="$event.stopPropagation()"
          *ngIf="!isMobile && slide.image.promotion?.type === 'GAMES'"
          class="pagination-container"
        >
          <div>
            <div
              *ngFor="let dot of slide.image.dots; let dotIndex = index"
              (click)="onDotSlide(dotIndex, i, slide.image.promotion)"
              id="{{ 'pagination-dot-left-menu-' + dotIndex + slide.image.promotion.id }}"
              class="pagination-dot"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <!-- OVERLAY IMAGE -->
    <div
      [@slideIn]="i === slideIndex ? 'slideInView' : 'outOfView'"
      class="overlayImgContainer"
      *ngIf="slide?.image?.overlayImg"
    >
      <img [src]="slide.image.overlayImg" alt="" />
    </div>
  </a>
  <!-- LEFT ARROW -->
  <div
    [class.display-none]="!showArrows || hideLeftArrow"
    (click)="onSlide(-1)"
    class="arrow-container prev"
  >
    <i #prevArrow title="Previous" class="arrow prev"></i>
  </div>
  <!-- RIGHT ARROW -->
  <div
    [class.display-none]="!showArrows || hideRightArrow"
    (click)="onSlide(1)"
    class="arrow-container next"
  >
    <i #nextArrow title="Next" class="arrow next"></i>
  </div>
  <!-- DOTS -->
  <ul class="slick-dots" *ngIf="showDots">
    <li
      *ngFor="let slide of slides; index as i; trackBy: trackByFn"
      (click)="goToSlide(i)"
      [class.slick-active]="slide.selected"
    >
      <button type="button" [attr.style]="safeStyleDotColor">
        {{ i }}
      </button>
    </li>
  </ul>
</div>
